.nonono{
  list-style-type: none;

}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Light.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.USPIX_logo{

  float: middle;
  max-width: 30px;

}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 480px;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'PF BeauSans Pro', sans-serif;
  margin: 0 auto;
}
main {
  position: relative;
  z-index: 3;
}
p {
  line-height: 1.65;
}
h1 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.content {
  padding: 0 30px;
  position: relative;
}
img {
  max-width: 100%;
  display: block;
  width: 100%;
}
a:hover {
  cursor: pointer;
}
.btn {
  display: block;
  width: 100%;
  background-color: #ff1e00;
  border: none;
  padding: 0 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 30px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  cursor: pointer;
}
form input {
  display: block;
  width: 100%;
  padding: 12px 15px;
  border-radius: 30px;
  margin-bottom: 15px;
  border: none;
  outline: none;
}
.hero-section {
  background-image: url(../img/hero_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding-bottom: 40px;
  height: 100vh;
  min-height: 500px;
  max-height: 700px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-section.order-section {
  max-height: initial;
  height: auto;
}
.hero-section .heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: -2px;
}
.hero-section .heading h1 {
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.65);
  margin-bottom: 200px;
}
.hero-section .hero-suptitle {
  padding: 15px 0 20px;
  position: relative;
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ffffff 40%);
  font-size: 22px;
}

.hero-section .hero-suptitle::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background: #000;
}
.hero-section .price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.hero-section .price .old,
.hero-section .price .new {
  flex: 0 0 45%;
  max-width: 45%;
  padding: 7px 15px 8px;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hero-section .price .old span,
.hero-section .price .new span {
  display: block;
  font-weight: bolder;
  font-size: 1.5rem;
}
.hero-section .price .old {
  background-color: rgba(255, 255, 255, 0.65);
}
.hero-section .price .old span {
  text-decoration: line-through;
}
.hero-section .price .new {
  background-color: rgba(204, 219, 134, 0.9);
  position: relative;
  color: #fff;
}
.hero-section .price .new span {
  text-transform: uppercase;
}
.hero-section .price .new::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 30px;
  border: 2px solid #fff;
}
.hero-section .info {
  color: black;
  text-align: center;
  font-size: 14px;
}
.advantages-section {
  padding: 30px 0;
  overflow: hidden;
}
.advantages-list {
  list-style: none;
}
.advantages-list li {
  position: relative;
  margin-bottom: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.advantages-list li:nth-child(odd)::before {
  content: '';
  display: block;
  position: absolute;
  left: -20%;
  width: 120%;
  height: 100%;
  background-color: #dce0cd;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  z-index: -1;
}
.advantages-list li:nth-child(odd)::after {
  content: '';
  display: block;
  position: absolute;
  left: 25px;
  top: 18px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/mark-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.advantages-list li:nth-child(even)::before {
  content: '';
  display: block;
  position: absolute;
  right: -20%;
  width: 120%;
  height: 100%;
  background-color: #ccdb86;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  z-index: -1;
}
.advantages-list li:nth-child(even)::after {
  content: '';
  display: block;
  position: absolute;
  left: 25px;
  top: 18px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/mark-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.about-section {
  padding-bottom: 50px;
}
.about-section .image {
  position: relative;
}
.about-section .image::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #ffffff;
  background: linear-gradient(0deg, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
}
.about-section .content {
  margin-top: -100px;
}
.about-section .inner {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
  margin-bottom: 25px;
}
.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
}
.about-section h2 span {
  display: block;
  color: #ccdb86;
  font-size: 2rem;
}
.bullets-section {
  background-image: url(../img/bullets_bg.png);
  background-position: center top;
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
}
.bullets-section .bullet {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
  height: 120px;
}
.bullets-section .bullet:nth-child(even) {
  flex-direction: row-reverse;
}
.bullets-section .bullet .img {
  flex: 0 0 50%;
  max-width: 50%;
}
.bullets-section .bullet .img img {
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
  display: block;
}
.bullets-section .bullet .text {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}
.bullets-section .bullet:nth-child(even) .text::before {
  content: '';
  position: absolute;
  right: -17px;
  height: 100%;
  border-left: 15px solid #67a030;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  box-sizing: border-box;
}
.bullets-section .bullet:nth-child(even) .text::after {
  content: '';
  position: absolute;
  right: -15px;
  height: 100%;
  border-left: 15px solid #fff;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  box-sizing: border-box;
}
.bullets-section .bullet:nth-child(odd) .text::before {
  content: '';
  position: absolute;
  left: -17px;
  height: 100%;
  border-right: 15px solid #67a030;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  box-sizing: border-box;
}
.bullets-section .bullet:nth-child(odd) .text::after {
  content: '';
  position: absolute;
  left: -15px;
  height: 100%;
  border-right: 15px solid #fff;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  box-sizing: border-box;
  box-shadow: ;
}

.bullets-section .attention {
  text-align: center;
  color: white;
}
.bullets-section .attention .title {
  text-transform: uppercase;
  font-size: 30px;
  color: #D61A1A;
  display: block;
}
.gallery-section {
  padding: 15px 0;
}
.gallery-section h2 {
  margin-bottom: 15px;
}
.slick-dots {
  bottom: 25px;
}
.slick-dots li {
  width: auto;
  height: auto;
}
.slick-dots li button {
  padding: 3px;
  width: auto;
  height: auto;
}
.slick-dots li button:before {
  width: auto;
  height: auto;
  font-size: 40px;
  line-height: 0;
  color: #ccdb86;
  opacity: 0.95;
}
.slick-dots li.slick-active button::before {
  color: #67a030;
  opacity: 1;
}
.faq-section {
  background-color: #dce0cd;
  padding-top: 80px;
  padding-bottom: 40px;
}
.faq-section .inner {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  padding: 15px;
  margin-bottom: 25px;
}
.faq-section .qa-item {
  margin-bottom: 30px;
}
.faq-section h2 {
  margin-bottom: 20px;
}
.faq-section h2 span {
  display: block;
  color: #ccdb86;
  font-size: 2rem;
}
.faq-section .question {
  color: #67a030;
  margin-bottom: 15px;
  font-weight: bolder;
}
.delivery-section {
  padding: 30px 0;
}
.delivery-section h2 {
  margin-bottom: 20px;
}
.delivery-section h2 span {
  display: block;
  color: #ccdb86;
  font-size: 2rem;
}
.delivery-list {
  overflow: hidden;
  padding: 0 40px 0 70px;
}
.delivery-list .item .title {
  position: relative;
  display: block;
  width: 90%;
  padding: 0 25px 0 0;
  line-height: 50px;
  margin-bottom: 15px;
  font-weight: bolder;
}
.delivery-list .item .title::after {
  content: '';
  display: block;
  position: absolute;
  left: -46px;
  top: calc(50% - 18px);
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
}
.delivery-list .item p {
  margin-bottom: 30px;
}
.delivery-list .item:nth-child(odd) .title {
  margin-right: auto;
}
.delivery-list .item:nth-child(odd) .title::before {
  content: '';
  display: block;
  position: absolute;
  right: -50px;
  width: 200%;
  height: 100%;
  background-color: #ccdb86;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  z-index: -1;
}
.delivery-list .item:nth-child(even) .title::before {
  content: '';
  display: block;
  position: absolute;
  left: -60px;
  width: 200%;
  height: 100%;
  background-color: #ccdb86;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  z-index: -1;
}
.delivery-list .item:nth-child(1) .title::after {
  background-image: url(../img/icons/car.png);
}
.delivery-list .item:nth-child(2) .title::after {
  background-image: url(../img/icons/wallet.png);
}
.delivery-list .item:nth-child(3) .title::after {
  background-image: url(../img/icons/doc.png);
}
footer {
  background-color: #003700;
  padding: 80px 0 40px;
  margin-top: -40px;
  position: relative;
  color: #fff;
  text-align: center;
}
footer p {
  margin-bottom: 15px;
}
footer a {
  text-decoration: underline;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */